# requirements.txt

# у меня работает на этой версии python>=3.11.5

# Основной фреймворк для веб-интерфейса
streamlit>=1.29.0

# Библиотека для взаимодействия с Windows COM API (необходима для Outlook)
pywin32>=306

# Библиотека для планирования задач (для sender_service.py)
schedule>=1.2.0

# Библиотека для работы с данными и таблицами в Streamlit
pandas>=2.0.0

# Библиотека для мониторинга системных процессов (для управления sender_service.py из интерфейса)
psutil>=5.9.0

# json (входит в стандартную библиотеку Python, не требуется указывать)
# datetime (входит в стандартную библиотеку Python, не требуется указывать)
# time (входит в стандартную библиотеку Python, не требуется указывать)
# os (входит в стандартную библиотеку Python, не требуется указывать)
# sys (входит в стандартную библиотеку Python, не требуется указывать)
# subprocess (входит в стандартную библиотеку Python, не требуется указывать)
# logging (входит в стандартную библиотеку Python, не требуется указывать)
# re (входит в стандартную библиотеку Python, не требуется указывать)